.wrapper {
  /* max-width: 90%; */
  /* margin: 3rem 3rem; */

  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  border: 1px solid red;
}
